
:root {
    --primary-text-color: #212121;
    --text-color: #757575;
    --accent-color:  #2196F3;
    --bg-color: #ffffff;
    --primary-white-color: #ffffff;
}
body {
    background-color: #ffffff;
    color: var(--primary-text-color);
}
.logo {
    color: #2196F3;
}
.list {
    list-style: none;
}
    /* site nav*/
    
.site-nav a {
        color: var(--primary-text-color);
    }
.list .link:hover,
.list .link:focus {
        color: var(--accent-color);
}

.section-title {
    color: var(--title-text-color);
}

p {
    color: var( --text-color);
}

.button {
    color: var(--primary-text-color);
    background-color: var(--bg-color);

    font-size: 24px;
    padding: 12px 24px;
    display: inline-block;
    border: 1px solid black;
}

.button.first {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-color: transparent;
}

.button.secondary {
color: var(--primary-text-color);
background-color: var(--bg-color);
border-color: transparent;
}

.button.secondary:hover {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-color: transparent;
}

.button.first:hover {
    color: var(--accent-color);
    background-color: var(--primart-white-color);
    border-color: blue; 
}